<div class="modal fade" id="sobre" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body vertical-center">
          <h2 class="subtitle">Sobre Nós</h2>
          <p>
            Olá, somos a Amor e Fetiches e gostaríamos muito de conhecer você e suas amigas, levaremos diversão e produtos maravilhosos que apimentam ainda mais a sua vida a dois.
          </p>
        </div>
      </div>
    </div>
  </div>
