<div class="modal fade" id="cha" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <h2 class="subtitle">Cha de Lingerie</h2>
          <p>
            Nosso Chá de Lingerie conta com profissionais fazendo demonstração dos produtos (há quem diga que a demonstração do produto que vibra a língua é inesquecível):
          </p>
          <ul class="list-group" style="background: none !important">
            <li class="list-group-item" style="background: none !important">Decoração (Paris ou Flores)</li>
            <li class="list-group-item" style="background: none !important">Mesa de Produtos</li>
            <li class="list-group-item" style="background: none !important">Arara de Lingeries</li>
            <li class="list-group-item" style="background: none !important">Espaço Especial para a Noiva</li>
            <li class="list-group-item" style="background: none !important">Brincadeiras</li>
            <li class="list-group-item" style="background: none !important">Brindes para as suas convidadas e presente para a noiva.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
