
<header class="vertical-center">  
  
  <h1>
      <img class="img-home" src="https://imgur.com/Eos65pn" alt="Logo da empresa Amor e Fetiches">
  </h1>  

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link hvr-rectangle-out" data-toggle="modal" data-target="#sobre">Sobre nós</a>
    </li>
    <li class="nav-item">
      <a class="nav-link hvr-rectangle-out" data-toggle="modal" data-target="#cha">Chá de Lingerie</a> 
    </li>
    <li class="nav-item">
      <a class="nav-link hvr-rectangle-out" data-toggle="modal" data-target="#boutique">Boutique Sensual</a>
    </li>
    <li class="nav-item">
      <a class="nav-link hvr-rectangle-out" data-toggle="modal" data-target="#loja">Loja</a> 
    </li>
    <li class="nav-item">
      <a class="nav-link hvr-rectangle-out" data-toggle="modal" data-target="#dicas">Dicas</a> 
    </li>    
  </ul>

</header>

<app-sobre></app-sobre>
<app-cha-de-lingerie></app-cha-de-lingerie>
<app-boutique-sensual></app-boutique-sensual>
<app-loja></app-loja>
<app-dicas></app-dicas>


