
<div class="modal fade" id="dicas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body vertical-center">
        <h2 class="subtitle">Sobre</h2>
        <p>
          Eu sou Larissa Mourullo, desenvolvedora e designer, estudante de Engenharia da Computação (com ênfase em Software)
          pelo Instituto Infnet. Possuo uma experiência maior com front-end, mas possuo conhecimentos de back-end e mobile.
          Em 2017 criei o projeto open source  <span class="font-weight-bold">DEVTRANSLATE</span> (para mais informações
          acesse a sessão  projetos pessoais).
        </p>
        <a class="nav-link hvr-rectangle-out" href="https://drive.google.com/uc?id=1uYP05bRnFmMF5VU4FlDSSBESyyQ4GdTF&export=download">
          Download Currículo
        </a>
      </div>
    </div>
  </div>
</div>