<div class="modal fade" id="dicas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body vertical-center">
          <h2 class="subtitle">Dicas works!</h2>
          <p>
            Dicas works!
          </p>
        </div>
      </div>
    </div>
  </div>